/overrides/shaderpacks/§cOutdated§r ComplementaryUnbound_r5.3 + EP_1.4.3
/overrides/shaderpacks/ComplementaryUnbound_r5.4 + EuphoriaPatches_1.5.2
/overrides/shaderpacks/ComplementaryReimagined_r5.3/shaders/world1
/overrides/shaderpacks/ComplementaryReimagined_r5.3
overrides/resourcepacks/Quark Programmer Art.zip
